<form class="form-vertical" [formGroup]="fullForm" (ngSubmit)="formHandler()" novalidate>

  <mat-card class="form-container">
    <mat-card-title>Full-featured reactive form</mat-card-title>

    <mat-card-content class="form-fields">

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" type="email">
        <mat-error *ngIf="fullForm.controls['email'].hasError('required')">This field cannot be empty</mat-error>
        <mat-error *ngIf="fullForm.controls['email'].hasError('email')">Invalid email address</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password">
        <mat-error *ngIf="fullForm.controls['password'].hasError('required')">This field cannot be empty</mat-error>
      </mat-form-field>

      <div class="form-horizotnal-group">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="first_name" type="text">
          <mat-error *ngIf="fullForm.controls['first_name'].hasError('required')">This field cannot be empty</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="last_name" type="text">
          <mat-error *ngIf="fullForm.controls['last_name'].hasError('required')">This field cannot be empty</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-select placeholder="State" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
        <mat-error *ngIf="fullForm.controls['state'].hasError('required')">This field cannot be empty</mat-error>
      </mat-form-field>

      <h4>Cities</h4>
        <mat-slide-toggle formControlName="email_notifications">Accept email notifications</mat-slide-toggle>


      <div>
        <h4>Favourite OS:</h4>
        <mat-radio-group formControlName="os">
          <mat-radio-button value="Android">Android</mat-radio-button>
          <mat-radio-button value="iOS">iOS</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <h4>Select skills:</h4>
        <div *ngFor="let skill of skillsList; let i=index">
          <mat-checkbox [value]="skill" (change)="onCheckChange($event)" [checked]="isChecked(skill)">{{skill.label}}</mat-checkbox>
        </div>
        <mat-error *ngIf="fullForm.controls['skills'].hasError('required')">You must select skills</mat-error>
        <mat-error *ngIf="fullForm.controls['skills'].hasError('checkboxMinLength')">Select at least 2 skills</mat-error>
      </div>

      <mat-form-field>
        <input matInput [max]="maxDate" formControlName="dob" [matDatepicker]="picker" placeholder="Date of birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="fullForm.controls['dob'].hasError('required')">Select your date of birth, please!</mat-error>
      </mat-form-field>


      <mat-checkbox formControlName="toc">I agree to Terms and Conditions</mat-checkbox>


    </mat-card-content>

    <mat-card-actions class="form-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="fullForm.invalid">Submit</button>
      <a mat-button routerLink="/register">Register</a>
    </mat-card-actions>
  </mat-card>

</form>