<form (ngSubmit)="handleForm()" #registerForm="ngForm" class="form-vertical" novalidate>
  <mat-card class="form-container">
    <mat-card-title>Template-driven form</mat-card-title>

    <mat-card-content class="form-fields">

      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="model.email" type="email" name="email" #email="ngModel" required pattern="[^ @]*@[^ @]*">
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">This field cannot be empty</mat-error>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.pattern">Invalid email address</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="model.password" type="password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">This field cannot be empty</mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions class="form-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Submit</button>
    </mat-card-actions>
  </mat-card>

</form>
